@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --clr-body: rgba(243, 245, 252, 1);
  --clr-primary: rgb(10, 56, 113);
  --clr-btn: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2.5vw, 5rem);
}

html,
body {
  height: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 240rem), 1fr));
  grid-auto-flow: dense;
  height: calc(100% - 0.625rem);
}

header:nth-child(1) {
  padding: 1rem 0 0 0;
}

section:nth-child(2) {
  width: clamp(21vw, 50%, 200rem);
  margin: 0 auto;
}

.btns-wrapper p:not(#add-word) {
  padding: 0 0 1rem 0;
}

.btn-start-game {
  display: block;
  width: clamp(16.66vw, 100%, 120rem);
  padding-block: min(1.66vh, 80rem);
  background-color: var(--clr-primary);
  color: var(--clr-btn);
  border-radius: 1.5rem;
}

.btn-add-word {
  display: block;
  width: clamp(16.66vw, 100%, 120rem);
  padding-block: min(1.66vh, 80rem);
  background-color: var(--clr-body);
  color: var(--clr-primary);
  border-radius: 1.5rem;
}
