@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-body: rgba(243, 245, 252, 1);
  --clr-primary: rgb(10, 56, 113);
  --clr-btn: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* fixes browser address bar scroll overflow on mobiles */
html,
body {
  height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 5rem);
  text-rendering: optimizeSpeed;
}

button,
textarea {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 240rem), 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: fit-content;
  height: calc(100% - 0.625rem) !important;
  /* fixes browser address bar scroll overflow on mobiles */
}

header:nth-child(1) {
  background-image: url(../img/Logo.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: content-box;
  width: clamp(16.66vw, 100%, 240rem);
  padding: min(1rem, 1.66vw) 0 0 0;
  text-align: center;
}

header:nth-child(1) textarea {
  visibility: unset;
  width: clamp(16.66vw, 50%, 120rem);
  height: 50%;
  padding-block: min(2.66vh, 80rem);
  padding: min(5rem, 8.33vw) 0 0 0;
  margin: min(7rem, 14vw) 0 0 0;
  font-family: inherit;
  font-size: inherit;
  color: var(--clr-primary);
  border: none;
  outline: none;
  resize: none;
  overflow-x: hidden;
}

header:nth-child(1) textarea::placeholder {
  color: var(--clr-primary);
}

header div > button {
  background-color: var(--clr-primary) !important;
  color: var(--clr-body) !important;
}

section:nth-child(2) {
  width: clamp(21vw, 50%, 200rem);
  margin: 0 auto;
}

section:nth-child(2) button {
  visibility: unset;
  width: clamp(16.66vw, 100%, 120rem);
  padding-block: min(2.66vh, 80rem);
  background-color: var(--clr-primary);
  color: var(--clr-btn);
  border-radius: 0.5rem;
}

section p:nth-of-type(2n) button {
  visibility: unset;
  background-color: var(--clr-body) !important;
  color: var(--clr-primary) !important;
}

section:nth-child(2) p:not(#add-word, #cancel) {
  padding: 0 0 1rem 0;
}

canvas {
  padding: 4rem 0 0 8rem;
  width: clamp(50vw, 100%, 90rem);
  /* padding-top: clamp(1.6vw, 50%, 5rem);
  padding-left: clamp(1.6vw, 50%, 5rem); */
}

#secretword {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: min(1.66vh, 80rem);
  gap: 0.3rem;
}

#letterplace {
  background: var(--clr-body);
  color: var(--clr-primary);
  border-bottom: 0.25rem solid var(--clr-primary);
  width: 100%;
  padding: 0.625rem 0;
  max-width: 5rem;
  min-height: 3.5rem;
  margin: 0;
}

#keyboard {
  width: clamp(32vw, 100%, 30rem);
  padding: 0 0 min(1vh, 1rem) 0;
  margin: 0 auto;
}

.btn-keyboard {
  background: none;
  width: clamp(3vw, 100%, 2.5rem);
  height: clamp(3vw, 100%, 2.5rem);
  margin: 0.06rem 0.01rem;
  border-color: var(--clr-primary);
  border-width: 0.125rem;
  border-radius: 0.5rem;
  color: var(--clr-primary);
  font-size: clamp(2vw, 32px, 1.5rem);
}
